@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700&display=swap');

*{
    padding:0px;
    margin:0px;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;

}

#root {
    $accent-color: #f51313;
    --accent-color-dark: color.scale($accent-color, $lightness: -30%);
  }